a{
    text-decoration: none;    
    color: #dd0031;
}
.nav{
    display: flex;
    width: 100%;
    margin: 10px auto;
    font-size: 22px;
    color:#dd0031;
  }
  .nav .item{
    flex-grow: 1;
    padding: 10px;
    text-align: center;
  }